---
import { getCollection } from 'astro:content';
import Page from '../../components/Page.astro';
import { BUILD_INFO } from '../../consts';

const excludedAttributes = ["dev", "draft", "index", "about"];

const posts = (await getCollection("pages")).filter(it => {
	if (BUILD_INFO.buildType === "production") {
		return !it.data.attribute?.includes("dev")
	} else {
		return it.data.attribute ? it.data.attribute.every(it => !excludedAttributes.includes(it)) : true
	}
}).sort(
	(a, b) => (b.data.date?.valueOf() ?? -Infinity) - (a.data.date?.valueOf() ?? 0),
)
---

<Page>
	{
		posts.map((post) => {
			return <div class="flex flex-row items-baseline gap-1">
				<p style={{
					color: "gray",
					userSelect: "none"
				}}>></p>
				<a href={`/blog/${post.id}`} class="text-xxl " style={{
					color: "var(--accent)",
					fontWeight: "500",
					textDecoration: "underline",
				}}> {post.data.title} </a>
				<p class="text-sm text-gray-500" style={{
					userSelect: "none"
				}}> {post.data.date?.toLocaleDateString()} </p>
			</div>
		})
	}
</Page>